certifi==2019.11.28
chardet==3.0.4
colorama==0.4.5
dbus-python==1.2.16
idna==2.8
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.0
netifaces==0.10.4
packaging==20.3
Pygments==2.3.1
pyparsing==2.4.6
python-apt==2.0.0+ubuntu0.20.4.8
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
tqdm==4.64.1
ubuntu-advantage-tools==27.10
urllib3==1.25.8
